.container{
    text-align: right;
    background-color: black;
    border: 2px solid rgb(207, 236, 60);
   padding-top: 15px;
   padding-bottom: 10px;
   padding-right: 10px;
    color: aliceblue;
    height: 30px;
}

.container div{
    display: inline;
    font-size: 25px;
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-color: aqua;

}

div .active{
 background-color: rgb(134, 228, 127);
}
/* img{
    height: 30px;
    align-items: flex-start;
} */


