.txt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-stretch: extra-condensed;
  font-stretch: semi-expanded;
  font-stretch: narrower;
  font-stretch: extra-condensed;
  border: 1px solid;
}
