img {
  position: absolute;
  left: 0px;
  top: 0px;
  /* -1->behind the 0 element */
  z-index: -1;
  height: 100px;
}
p {
  /* 1->forward the 0 element */
  z-index: 1;
}
#img2 {
  top: 20px;
  left: 60px;
  /* 2->forward the 1 element */
  z-index: 2;
}
