body,html{
	width: 100%;
	height: 100vh;
	background-color:azure;
}
#content{
	margin-left: 30px;
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	
}
table{
	padding: 5px;
	box-shadow: 5px 5px 10px 10px lightgrey;
	height: 100vh;
}
th{
	margin: 10px;
	padding: 20px;
	background-color: darkseagreen;
}

td{margin: 10px;
	padding: 18px;
}
tr:nth-child(even){
	background-color:powderblue;
}
tr:nth-child(odd){
	background-color: gainsboro;
}
